<!DOCTYPE html>
<html>
<head>
	<style type="text/css">h1{color:blue;}</style>
</head>
<body>
	<div style="margin:0 auto; text-align:center; width: 950px">
	<h1>AHorcaTDD</h1>
	<form action="" method = "get">

	<br>
	<div style="font-weight:bold; font-size:24px;"><%= @secuencia%><br></div>
	<br>
	<input type="text" name="letra" /> 
	<input type="submit" value="jugar" text="Adivinar"/>
	<%= @mensaje_final%>
	</form>
	<%= @intentos%> / 6 intentos fallidos
	<br>
	<img src='img/<%= @intentos %>.png'>
	<a href="/resultado">resultado</a>
</div>
</body>
</html>